Lab_7c/Lab_7b/Connected Services/ServiceReference/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_GetDict_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDict" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddDict_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDict" />
  </wsdl:message>
  <wsdl:message name="IMyService_AddDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDictResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdDict_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdDict" />
  </wsdl:message>
  <wsdl:message name="IMyService_UpdDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdDictResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DelDict_InputMessage">
    <wsdl:part name="parameters" element="tns:DelDict" />
  </wsdl:message>
  <wsdl:message name="IMyService_DelDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDictResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="GetDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetDict" message="tns:IMyService_GetDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetDictResponse" message="tns:IMyService_GetDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetAll" message="tns:IMyService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetAllResponse" message="tns:IMyService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/AddDict" message="tns:IMyService_AddDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/AddDictResponse" message="tns:IMyService_AddDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/UpdDict" message="tns:IMyService_UpdDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/UpdDictResponse" message="tns:IMyService_UpdDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DelDict" message="tns:IMyService_DelDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DelDictResponse" message="tns:IMyService_DelDict_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDict">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDict">
      <soap:operation soapAction="http://tempuri.org/IMyService/AddDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <soap:operation soapAction="http://tempuri.org/IMyService/UpdDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <soap:operation soapAction="http://tempuri.org/IMyService/DelDict" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:8080/MyService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>